################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LPR_GUI/v16
/.vs/LPR_GUI/DesignTimeBuild
